<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show All</title>
</head>
<body>
    <h3>
        <a href="{{url_for('show_all')}}">学生列表</a>
    </h3>

    <h3>
        <a href="{{url_for('new')}}">学生添加</a>
    </h3>


    <table>
        <thead>
            <tr>
                <th>姓名</th>
                <th>城市</th>
                <th>地址</th>
                <th>pin</th>
            </tr>
        </thead>
        <tbody>

                {% for student in students %}
                    <tr>
                        <td>{{student.name }}</td>
                        <td>{{student.city }}</td>
                        <td>{{student.addr }}</td>
                        <td>{{student.pin  }}</td>
                        <td><a href="/delete/{{student.id}}">删除<a></td>
                    </tr>
                {% endfor %}

        </tbody>
    </table>
</body>
</html>